:root {
    --primary-100: #d4eaf7;
    --primary-200: #b6ccd8;
    --primary-300: #3b3c3d;
    --accent-100: #71c4ef;
    --accent-200: #00668c;
    --text-100: #1d1c1c;
    --text-200: #313d44;
    --bg-100: #fffefb;
    --bg-200: #f5f4f1;
    --bg-300: #cccbc8;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: var(--bg-200);
    margin: 0;
    padding: 0;
    color: var(--text-100);
}

header {
    background-color: var(--accent-200);
    padding: 1em 0;
    text-align: center;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5em;
    transition: background-color 0.3s;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul li a span {
    display: block;
    font-size: 0.7em;
    font-weight: normal;
}

nav ul li a:hover {
    background-color: var(--accent-100);
    border-radius: 5px;
}

.hero {
    text-align: center;
    padding: 2em 1em;
    background-color: var(--bg-100);
    color: var(--text-200);
}

.hero img {
    width: 300px; 
    border-radius: 50%;
    margin-top: 1em;
}

.breadcrumb {
    padding: 1em;
    background-color: var(--primary-100);
    color: var(--text-200);
    font-size: 0.9em;
    margin: 0;
}

.breadcrumb a {
    color: var(--text-200);
    text-decoration: none;
}

.profile {
    background-color: var(--bg-100);
    padding: 2em;
    color: var(--text-200);
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-header img {
    width: 300px; 
    border-radius: 50%;
    margin-right: 2em;
}

.profile h2 {
    border-bottom: 2px solid var(--accent-200);
    padding-bottom: 0.5em;
}

.profile p {
    background-color: white;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.info {
    text-align: center; /* 中央揃え */
}

.contact {
    background-color: var(--bg-100);
    padding: 2em;
    color: var(--text-200);
}

.contact h1 {
    border-bottom: 2px solid var(--accent-200);
    padding-bottom: 0.5em;
}

.contact p {
    background-color: white;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.social-icon {
    width: 30px;
    height: 30px;
}

footer {
    background-color: var(--accent-200);
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* メディアクエリ */
@media (max-width: 768px) {
    .hero img {
        width: 150px; 
    }

    nav ul {
        display: flex;
        flex-direction: row; /* ナビゲーションバーを横に保つ */
        justify-content: space-between; 
        padding: 0; 
        list-style: none; 
    }

    nav ul li {
        flex: 1; /* ナビゲーションバーの各項目を均等に配置 */
        text-align: center; 
        margin: 0; 
    }

    .profile-header {
        flex-direction: column; 
        align-items: center;
    }

    .profile-header img {
        margin-right: 0; 
        margin-bottom: 1em; 
    }
}
