body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #0883AF;
    padding: 1em 0;
    text-align: center;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5em;
    transition: background-color 0.3s;
    position: relative;
}

nav ul li a span {
    display: block;
    font-size: 0.7em;
    font-weight: normal;
}

nav ul li a:hover {
    background-color: #2EBF75;
    border-radius: 5px;
}

.hero {
    text-align: center;
    padding: 2em 1em;
    background-color: #2EBF75;
    color: white;
}

.hero img {
    width: 200px;
    border-radius: 5
