:root {
    --primary-100: #b2f5ea; /* パウダーブルー */
    --primary-200: #81e6d9; /* ミントグリーン */
    --primary-300: #319795; /* ディープティール */
    --accent-100: #285e61; /* ダークティール */
    --accent-200: #234e52; /* ダークスレート */
    --text-100: #2d3748; /* メインテキストカラー */
    --text-200: #4a5568; /* サブテキストカラー */
    --bg-100: #edf2f7; /* 背景色 */
    --bg-200: #e2e8f0; /* サブ背景色 */
    --bg-300: #cbd5e0; /* 補完色 */
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: var(--bg-200);
    margin: 0;
    padding: 0;
    color: var(--text-100);
    line-height: 1.6;
}

header {
    background-color: var(--accent-200);
    padding: 1em 0;
    text-align: center;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5em 1em;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul li a span {
    display: block;
    font-size: 0.7em;
    font-weight: normal;
}

nav ul li a:hover {
    background-color: var(--accent-100);
    border-radius: 5px;
    transform: translateY(-2px);
}

.hero {
    text-align: center;
    padding: 4em 1em;
    background-color: var(--bg-100);
    color: var(--text-200);
    transition: background-color 0.5s ease-in-out;
}

.hero:hover {
    background-color: var(--primary-100);
}

.hero img {
    width: 150px; 
    border-radius: 50%;
    margin-top: 1em;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.hero img:hover {
    transform: scale(1.1);
}

.info {
    text-align: center; /* 中央揃え */
    padding: 2em;
    background-color: var(--bg-100);
    color: var(--text-200);
    margin: 2em 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: background-color 0.3s;
}

.info:hover {
    background-color: var(--primary-200);
}

footer {
    background-color: var(--accent-200);
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
}

/* メディアクエリ */
@media (max-width: 768px) {
    .hero img {
        width: 100px; 
    }

    nav ul {
        display: flex;
        flex-direction: row; /* ナビゲーションバーを横に保つ */
        justify-content: space-between; 
        padding: 0; 
        list-style: none; 
    }

    nav ul li {
        flex: 1; /* ナビゲーションバーの各項目を均等に配置 */
        text-align: center; 
        margin: 0; 
    }

    .info {
        margin: 1em 0;
    }
}
